In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

import warnings
warnings.filterwarnings('ignore')

In [17]:
#loading data
orders = pd.read_csv(r'C:\Users\gonca\Documents\BC3_Market_Basket_Analysis\data\orders.csv') 
products = pd.read_csv(r'C:\Users\gonca\Documents\BC3_Market_Basket_Analysis\data\products.csv') 
departments = pd.read_csv(r'C:\Users\gonca\Documents\BC3_Market_Basket_Analysis\data\departments.csv')
order_products = pd.read_csv(r'C:\Users\gonca\Documents\BC3_Market_Basket_Analysis\data\order_products.csv')

In [18]:
orders.head(10)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2425083,49125,1,2,18,NaN
1,1944304,162867,1,3,17,NaN
2,1201011,147243,14,0,16,3.0
3,1906860,195275,81,1,11,3.0
4,2766469,58222,3,6,11,6.0
5,3195784,120094,11,5,17,7.0
6,1378095,73110,1,6,10,NaN
7,1304367,53959,5,5,1,30.0
8,1670129,176782,12,0,8,20.0
9,1120472,104339,78,5,10,4.0

In [19]:
products.head()

   product_id  department_id                product_name
0          61             19               cookies cakes
1         104             13           spices seasonings
2          94              7                         tea
3          38              1                frozen meals
4           5             13  marinades meat preparation

In [20]:
departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [21]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0        10          24                  1          1
1        10          83                  2          1
2        10          16                  3          0
3        10          24                  4          1
4        10          83                  5          1

In [25]:
df = pd.merge(order_products, products, how='left', on='product_id').\
    drop(["product_id", "department_id","add_to_cart_order","reordered"], axis=1)
df.head()

   order_id      product_name
0        10      fresh fruits
1        10  fresh vegetables
2        10       fresh herbs
3        10      fresh fruits
4        10  fresh vegetables

In [26]:
# Pivot the data - lines as orders and products as columns
pt = pd.pivot_table(df, index='order_id', columns='product_name', 
                    aggfunc=lambda x: 1 if len(x)>0 else 0).fillna(0)
pt.head()

product_name,air fresheners candles,asian foods,baby accessories,baby bath body care,baby food formula,bakery desserts,baking ingredients,baking supplies decor,beauty,beers coolers,...,spreads,tea,tofu meat alternatives,tortillas flat bread,trail mix snack mix,trash bags liners,vitamins supplements,water seltzer sparkling water,white wines,yogurt
order_id,,,,,,,,,,,,,,,,,,,,,
10,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
38,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
df.astype(object).describe()

        order_id  product_name
count    2019501       2019501
unique    200000           134
top       790903  fresh fruits
freq         137        226039

In [29]:
# Apply the APRIORI algorithm to get frequent itemsets
# Rules supported in at least 5% of the transactions (more info at http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/apriori/)
frequent_itemsets = apriori(pt, min_support=0.05, use_colnames=True)
frequent_itemsets.head()

    support              itemsets
0  0.076635  (baking ingredients)
1  0.163865               (bread)
2  0.067765    (breakfast bakery)
3  0.074330              (butter)
4  0.069305     (candy chocolate)

In [30]:
# Generate the association rules - by confidence
rulesConfidence = association_rules(frequent_itemsets, metric="lift", min_threshold=0.50)
rulesConfidence.sort_values(by='confidence', ascending=False, inplace=True)
rulesConfidence.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
189,"(fresh herbs, fresh fruits)",(fresh vegetables),0.070135,0.444360,0.061815,0.881372,1.983463,0.030650,4.683872
373,"(fresh vegetables, packaged vegetables fruits,...",(fresh fruits),0.087995,0.555995,0.076240,0.866413,1.558311,0.027315,3.323711
344,"(packaged vegetables fruits, fresh vegetables,...",(fresh fruits),0.073075,0.555995,0.062535,0.855765,1.539159,0.021906,3.078336
86,(fresh herbs),(fresh vegetables),0.093005,0.444360,0.078655,0.845707,1.903203,0.037327,3.601205
358,"(packaged cheese, fresh vegetables, packaged v...",(fresh fruits),0.081970,0.555995,0.068325,0.833537,1.499180,0.022750,2.667284